body {
    background: #85bb65;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background:	#9b65bb;
    border-radius: 5px;
    box-shadow: 10px 10px #d8ae47;
}
.assignment img{
    width: 300px;
    padding: 10px;
}

h1{
    color: Ivory;
    text-align: center;
}

a {
    text-decoration: none;
    color: #d8ae47;
}
